page-graph {
    
}
.reset-button-container {
    text-align: center;
}
.reset-button {
    width: 90%;
    font-size: 2rem;
    color: #eeeeee;
    background-color: #414b5a;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
}
.reset-button.arrow-button:active {
    border: 2px solid transparent;
}
.arrow-button-container {
    display: flex;
    display: -webkit-flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}
.arrow-button {
    font-size:2em;
    flex:3;
}
.month-text {
    line-height: 2em;
    flex: 1;
}